In [2]:
import numpy as np
import pandas as pd

%matplotlib inline

In [3]:
df_raw = pd.read_csv('../output/6_merged/stix_flarelist_final_20210214_20251005.csv')
df_raw.head()

,start_UTC,end_UTC,peak_UTC,4-10 keV,10-15 keV,15-25 keV,25-50 keV,50-84 keV,bkg 4-10 keV,bkg 10-15 keV,...,31_d_top,31_d_bot,32_a_top,32_a_bot,32_b_top,32_b_bot,32_c_top,32_c_bot,32_d_top,32_d_bot
0,2021-02-14T01:41:06.670,2021-02-14T01:49:14.671,2021-02-14T01:44:14.670,1983,463,183,927,543,271.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2021-02-14T13:21:34.741,2021-02-14T13:33:02.742,2021-02-14T13:24:54.741,1855,271,151,927,543,271.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2021-02-14T19:34:46.779,2021-02-14T19:43:18.780,2021-02-14T19:36:46.779,1215,271,151,927,495,247.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2021-02-15T07:22:43.151,2021-02-15T07:34:43.153,2021-02-15T07:27:03.152,1343,215,91,927,543,271.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2021-02-15T08:14:39.159,2021-02-15T08:28:35.160,2021-02-15T08:16:35.159,1855,271,91,927,495,271.0,49.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
# filter out bad sidelobes
th = 0.84
df1 = df_raw[df_raw['sidelobes_ratio'] < th]


df_x = df1.iloc[:, 40:232]
df_y = df1[['loc_x_stix', 'loc_y_stix']]
df = pd.concat([df_x, df_y], axis=1)

df.head()

,1_a_top,1_a_bot,1_b_top,1_b_bot,1_c_top,1_c_bot,1_d_top,1_d_bot,2_a_top,2_a_bot,...,32_a_top,32_a_bot,32_b_top,32_b_bot,32_c_top,32_c_bot,32_d_top,32_d_bot,loc_x_stix,loc_y_stix
16,203.0,216.0,268.0,292.0,243.0,240.0,210.0,191.0,64.0,64.0,...,134.0,139.0,101.0,87.0,274.0,261.0,295.0,306.0,410.608362,-55.747279
17,81.0,69.0,97.0,100.0,109.0,80.0,85.0,73.0,58.0,43.0,...,86.0,96.0,39.0,45.0,61.0,49.0,103.0,106.0,422.926322,200.788122
18,209.0,183.0,137.0,161.0,173.0,149.0,197.0,181.0,76.0,69.0,...,219.0,220.0,177.0,174.0,70.0,67.0,104.0,96.0,422.220884,128.866599
19,107.0,85.0,68.0,84.0,72.0,61.0,86.0,65.0,69.0,59.0,...,54.0,56.0,42.0,33.0,50.0,56.0,96.0,85.0,405.762307,-79.376106
20,123.0,141.0,113.0,123.0,131.0,153.0,174.0,139.0,75.0,57.0,...,80.0,83.0,53.0,54.0,135.0,137.0,172.0,164.0,420.016659,-57.292685

In [5]:
# Wieviele Beobachtungen gibt es? Wieviele Features?
print(f"Beobachtungen: {df.shape[0]}\nAnzahl Features: {df.shape[1]}")

Beobachtungen: 21219
Anzahl Features: 194

In [6]:
df.describe(include='all')

,1_a_top,1_a_bot,1_b_top,1_b_bot,1_c_top,1_c_bot,1_d_top,1_d_bot,2_a_top,2_a_bot,...,32_a_top,32_a_bot,32_b_top,32_b_bot,32_c_top,32_c_bot,32_d_top,32_d_bot,loc_x_stix,loc_y_stix
count,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,...,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000,21219.000000
mean,3360.446958,3367.042933,3225.096046,3409.495405,3386.280079,3320.541637,3334.200245,3335.528489,1804.605589,1581.981008,...,2709.248362,2781.112823,2793.430605,2795.066921,2724.430039,2698.844196,2675.425421,2682.177435,-155.148170,58.909808
std,14134.612633,14119.359494,13568.933857,14348.441137,14195.819402,13880.225572,13955.540706,13904.998316,7779.763967,6819.369448,...,12188.499138,12438.426996,13018.785481,13104.365028,12482.559456,12495.595717,12184.683912,12173.570005,545.351092,1181.851210
min,12.000000,21.000000,8.000000,15.000000,9.000000,25.000000,12.000000,18.000000,13.000000,9.000000,...,12.000000,9.000000,13.000000,10.000000,14.000000,8.000000,16.000000,9.000000,-2694.367646,-4320.732576
25%,195.000000,193.000000,185.000000,193.000000,193.000000,190.000000,193.000000,193.000000,112.000000,106.000000,...,147.000000,149.000000,146.000000,145.000000,142.000000,140.000000,145.000000,143.000000,-511.292367,-881.440565
50%,421.000000,418.000000,400.000000,422.000000,420.000000,413.000000,419.000000,418.000000,232.000000,211.000000,...,324.000000,329.000000,322.000000,322.000000,321.000000,317.000000,324.000000,321.000000,-196.699396,105.718554
75%,1305.000000,1302.500000,1244.000000,1304.000000,1302.000000,1278.000000,1290.000000,1286.000000,684.500000,600.000000,...,989.000000,1016.000000,1028.000000,1015.000000,998.000000,980.000000,989.000000,983.000000,207.041541,945.362742
max,585722.000000,570874.000000,559610.000000,590330.000000,578042.000000,559610.000000,565242.000000,557050.000000,296954.000000,261882.000000,...,402426.000000,421882.000000,673786.000000,681978.000000,572922.000000,572410.000000,707578.000000,686074.000000,2571.542081,4620.456772

In [7]:
miss = df.isna().sum()
print(f"missing values:\n\n{miss}\n\t")

missing values:

1_a_top       0
1_a_bot       0
1_b_top       0
1_b_bot       0
1_c_top       0
             ..
32_c_bot      0
32_d_top      0
32_d_bot      0
loc_x_stix    0
loc_y_stix    0
Length: 194, dtype: int64

In [8]:
# save as csv
df.to_csv('../output/7_final/stix_final.csv', index=False)